.form__heading {
    margin: 50px 0 40px 0;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0;
    margin-bottom: 40px;
}

.form__desc {
    margin: 0;
    margin-right: 20px;
}

.form__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
}

.form__input {
    padding: 6px 12px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

.form__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: -30;
    list-style: none;
}

.form__item {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 15px;
    width: 160px;
    height: 160px;
    border: 1px solid #000;
    border-radius: 8px;
}

.fotm__img {
    max-width: 50px;
    max-height: 50px;
    margin: 15px 0;
    opacity: 0.9;

}

.img__box {
    width: 50px;
    height: 50px;
    margin: 15px 0;
}

.form__item--desc {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

}

/* TEMPERATURA */

.temp {
    padding: 100px 0;
}

.temp__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temp__input {
    width: 200px;
    margin: 0;
    margin-left: 20px;
}
.temp__return {
    width: 200px;
    margin: 0;
}


.temp__desc1 {
    width: 154px;
    text-align: right;

    margin: 0;
    margin-right: 40px;
}

.form__box1 {
    width: 94px;
    margin-left: auto;
    margin-right: auto;
}

/* HAYO'Q */

.ha__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ha__box,.form-check {
    display: flex;
    justify-content: center;
}

.ha__input {
    width: 150px;
    margin: 0;
    margin-left: 20px;
}

.form-check-label {
    margin-left: 20px;
    width: 153px;
}

 /* {

} */